## Los datos
El equipo de marketing le proporcionó volúmenes de ventas históricos per cápita para varios tipos de bebidas diferentes.

- "year" - año (1998-2016)
- "region" - nombre de un sujeto federal de Rusia. Podría ser oblast, república, krai, okrug autónomo, ciudad federal y un solo oblast autónomo
- "wine" - venta de vino en litros por año per cápita
- "beer" - venta de cerveza en litros por año per cápita
- "vodka" - venta de vodka en litros por año per cápita
- "champagne" - venta de champán en litros por año per cápita
- "brandy" - venta de brandy en litros por año per cápita

In [1]:
import pandas as pd
df = pd.read_csv('russian_alcohol_consumption.csv')
df.head()

   year              region  wine  beer  vodka  champagne  brandy
0  1998  Republic of Adygea   1.9   8.8    3.4        0.3     0.1
1  1998          Altai Krai   3.3  19.2   11.3        1.1     0.1
2  1998         Amur Oblast   2.1  21.2   17.3        0.7     0.4
3  1998  Arkhangelsk Oblast   4.3  10.6   11.7        0.4     0.3
4  1998    Astrakhan Oblast   2.9  18.0    9.5        0.8     0.2

## Tareas
1. Recomendar 10 regiones que deberían seleccionar para la promoción.
2. Respalde sus recomendaciones.